{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="preconnect" href="https:/fonts.googleapis.com" />
    <link rel="preconnect" href="https:/fonts.gstatic.com" crossorigin />
    <link
      href="https:/fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link href="https:/cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <!-- hero section naveen -->
    <!-- events naaji -->
    <!-- speakers section akhil -->
    <!-- footer eldhose -->
    <!-- registration form anton and nandhu krishnan -->

    <header>
      <div class="hero-container">
        <div class="appbar">
          <div class="appbar d-flex justify-content-between p-2 align-items-center">
            <img src="{% static 'logo.png' %}" alt="logo" />

            <img
              src="{% static 'icon.png' %}"
              alt="icon"
              class="nav-icon"
            />
          </div>    
          <div class="overlay">
            <nav class="navbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <img src="{% static 'Frame26.png' %}" class="link-text" />
                  <a class="link-text" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <img src="{% static 'Frame26.png' %}" class="link-text" />
                  <a class="link-text" href="#">About</a>
                </li>
                <li class="nav-item">
                  <img src="{% static 'Frame26.png' %}" class="link-text" />
                  <a class="link-text" href="#">Events</a>
                </li>
                <li class="nav-item">
                  <img src="{% static 'Frame26.png' %}" class="link-text" />
                  <a class="link-text" href="#">Milestones</a>
                </li>
                <li class="nav-item">
                  <img src="{% static 'Frame26.png' %}" class="link-text" />
                  <a class="link-text" href="#">Pre-Event</a>
                </li>
                <li class="nav-item">
                  <img src="{% static 'Frame26.png' %}" class="link-text" />
                  <a class="link-text" href="#">Gallery</a>
                </li>
                <li class="nav-item">
                  <img src="{% static 'Frame26.png' %}" class="link-text" />
                  <a class="link-text" href="#">Programs</a>
                </li>
                <li class="nav-item">
                  <img src="{% static 'Frame26.png' %}" class="link-text" />
                  <a class="link-text" href="#">Speakers</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="sub-container">
          <div class="left-container">
            <h1 id="content1" class="heading">SPACE UP 2023</h1>
            <p id="paragraph" class="details">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
              tempor porttitor nunc. Duis dolor sem, tincidunt ac hendrerit
              quis, ullamcorper vel purus. Aliquam imperdiet justo sed semper
              mollis. Nullam iaculis aliquam augue, a pulvinar nisl lobortis
              non. Sed fringilla mollis arcu, et maximus urna pretium vel. Donec
              a ex velit. Donec mol
            </p>
            <a href="registrationform">
              <button id="regbtn" class="register-button">Register ></button>
            </a>
          </div>

          <div class="right-container">
            <img src="{% static 'circles.png' %}" height="100%" />
          </div>
        </div>
      </div>
    </header>

    <div class="speakers" >
        <h2>SPEAKERS</h2>
        
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'man.png' %}" class="rounded-end-circle" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">Name</h3>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'man.png' %}" class="rounded-end-circle" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">Name</h3>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'man.png' %}" class="rounded-end-circle" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">Name</h3>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'man.png' %}" class="rounded-end-circle" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">Name</h3>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'man.png' %}" class="rounded-end-circle" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">Name</h3>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'man.png' %}" class="rounded-end-circle" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">Name</h3>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        </div>
  </body>
</html>
